<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.bestvike.website.dao.ViewHouseinfoDao">
	<select id = "selectDivisions" resultType = "ViewDivisioninfo">
        <![CDATA[
		  SELECT tt.*, ddi.divisionName division_name, ddi.x, ddi.y FROM
           (SELECT t1.division_code, COUNT(t3.house_id) house_num, ROUND(AVG(t3.presell_price), 2) avg_price
           FROM view_projectinfo t1
           INNER JOIN view_bldinfo t2 on t1.project_id = t2.project_id
           INNER JOIN view_houseinfo t3 on t2.bld_id = t3.bld_id
           GROUP BY t1.division_code) tt INNER JOIN dic_divisionInfo ddi on tt.division_code = ddi.divisionCode
        ]]>
    </select>
</mapper>