<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.bestvike.website.dao.ViewRegionInfoDao">
	<select id = "selectAllRegions" parameterType = "Map" resultType = "ViewRegionInfo">
		<![CDATA[
           SELECT t1.region_id, t1.x, t1.y, region_name, address, pre_sale_date,
           t1.division_code, t2.division_name, round(proj.avg_price, 2) avg_price, t1.logo_path
           FROM view_regionInfo t1 LEFT JOIN view_divisionInfo t2 on t1.division_code = t2.division_code
           LEFT JOIN (select arb.region_id, sum(case when vhi.house_use like '住宅' then vhi.presell_amount else 0 end)
					/ sum(case when vhi.house_use like '住宅' then vhi.construct_area else 0 end) as avg_price
				from view_houseinfo vhi
				left join ass_regbld arb on vhi.project_id = arb.project_id and vhi.bld_no = arb.bld_no
				group by arb.region_id) proj
           ON t1.region_id = proj.region_id
           ORDER BY t1.pre_sale_date desc
        ]]>
	</select>

	<select id = "selectRegionByParameter" parameterType = "String" resultType = "com.bestvike.website.entity.Region">
		<![CDATA[
           SELECT t1.region_id, t1.x, t1.y, region_name, address, pre_sale_date, t1.division_code, t2.division_name, round(proj.avg_price, 2) avg_price, t1.logo_path
           FROM view_regionInfo t1 LEFT JOIN view_divisionInfo t2 on t1.division_code = t2.division_code
           LEFT JOIN (
        		select arb.region_id, sum(case when vhi.house_use like '住宅' then vhi.presell_amount else 0 end)
					/ sum(case when vhi.house_use like '住宅' then vhi.construct_area else 0 end) as avg_price
				from view_houseinfo vhi
				left join ass_regbld arb on vhi.project_id = arb.project_id and vhi.bld_no = arb.bld_no
				group by arb.region_id
           ) proj
           ON t1.region_id = proj.region_id
        ]]>
		<where>
			<if test = "keywords != null">
				t1.region_name like #{keywords} or t1.address like #{keywords}
			</if>
			<if test = "divisionCode != null">
				AND t2.division_code = #{divisionCode}
			</if>
			<if test = "price != null">
				AND proj.avg_price ${price}
			</if>
			<if test = "houseHold != null">
				AND t1.house_holds like #{houseHold}
			</if>
		</where>
		<choose>
			<when test = "sort != null">
				order by ${sort}
			</when>
			<otherwise>
				order by pre_sale_date desc
			</otherwise>
		</choose>
	</select>

	<select id = "selectRegion" parameterType = "String" resultType = "ViewRegionInfo">
		<![CDATA[
			SELECT * FROM view_regioninfo t1
			LEFT JOIN (SELECT #{regionId} region_id, wm_concat(DISTINCT sale_phone) sale_phone, min(vpi.greening_rate) greening_rate
			from view_projectinfo vpi where exists(select 1 from ass_regbld where region_id = #{regionId} and project_id = vpi.project_id)) t2
			on t1.region_id = t2.region_id
			left join (select #{regionId} region_id, COUNT(1) house_num, wm_concat(distinct case when vhi.house_use like '%住宅%' then vhi.house_hold else '' end) houseHold,
				min(case when vhi.house_use not like '%住宅%' then 9999 else vhi.construct_area end)
				|| '-' || max(case when vhi.house_use like '%住宅%' then vhi.construct_area else 0 end) area_range
			from view_houseinfo vhi
			WHERE EXISTS(select 1 from ass_regbld WHERE region_id = #{regionId} AND project_id = vhi.project_id AND bld_no = vhi.bld_no)) t3
			on t1.region_id = t3.region_id
			WHERE t1.region_id = #{regionId}
		]]>
	</select>

	<select id = "selectRegionSalesData" parameterType = "String" resultType = "map">
		<![CDATA[
			SELECT
				SUM(CASE WHEN sales_flag = '否' then 1 else 0 END) 非卖,
				SUM(CASE WHEN mortgage_flag = '是' THEN 1 ELSE 0 END) 抵押,
				SUM(CASE WHEN close_flag = '是' THEN 1 ELSE 0 END) 查封,
	            SUM(CASE WHEN frozen_flag = '是' THEN 1 ELSE 0 END) 冻结,
	            SUM(CASE WHEN presell_state = '已售' THEN 1 ELSE 0 END) 已售,
	            SUM(CASE WHEN presell_state = '未售' AND sales_flag != '否' THEN 1 ELSE 0 END) 未售
            FROM view_houseinfo t
             WHERE t.project_id in (select a.project_id from ASS_REGBLD a where a.region_id = #{regionId})
		]]>
	</select>

	<select id = "selectRegionHouseHoldData" parameterType = "map" resultType = "com.bestvike.website.entity.HouseHoldSales">
		<![CDATA[
			SELECT house_use, house_hold, COUNT(1) total_num,
			sum(case when t.presell_state = '已售' then 1 else 0 end) sell_num,
			sum(case when t.presell_state = '未售' AND t.sales_flag = '是' then 1 else 0 end) nosaled_num,
			sum(case when t.sales_flag = '否' then 1 else 0 end) nosale_num
            FROM view_houseinfo t
            WHERE EXISTS(select 1 from ass_regbld WHERE region_id = #{regionId} AND project_id = t.project_id AND bld_no = t.bld_no)
        ]]>
		<if test = "houseUse != null and houseUse == '01'">
			AND t.house_use like '%住宅%'
		</if>
		<if test = "houseUse != null and houseUse == '99'">
			AND t.house_use NOT like '%住宅%'
		</if>
		<![CDATA[
            GROUP BY house_use, house_hold
            ORDER BY house_use, house_hold
		]]>
	</select>

	<select id = "selectBlds" parameterType = "String" resultType = "com.bestvike.website.entity.BldCells">
		<![CDATA[
			SELECT project_id, bld_no, CASE WHEN instr(bld_name, '#') > 0 THEN bld_name else bld_name || '#' end bld_name
			FROM view_bldInfo t WHERE EXISTS (
				SELECT 1 FROM ass_regbld WHERE region_id = #{regionId} AND project_id = t.project_id
			)
		    ORDER BY to_number(nvl(regexp_replace(t.bld_name, '[^0-9]'), -1)) asc, bld_no asc
		]]>
	</select>

	<select id = "selectBldCells" parameterType = "com.bestvike.website.entity.BldCells" resultType = "com.bestvike.website.entity.Cell">
		<![CDATA[
			SELECT cell_name as cell_no, cell_name || '单元' as cell_name
			FROM view_houseinfo WHERE project_id = #{projectId} AND bld_no = #{bldNo}
			GROUP BY cell_name
			ORDER BY lpad(cell_name, 10, '0') asc
		]]>
	</select>

	<select id = "selectRegionBlds" parameterType = "String" resultType = "com.bestvike.website.entity.RegionBlds">
		<![CDATA[
			SELECT t1.region_id, t2.project_id, t2.bld_no, case when t2.x is not null then
			 'top:' || round(t2.y * 100) || '%;left:' ||  round(t2.x * 100) || '%' else '' end AS location,
			CASE WHEN instr(bld_name, '#') > 0 THEN bld_name else bld_name || '#' end bld_name
			FROM view_regionInfo t1 left join ass_regbld t2 on t1.region_id = t2.region_id
			LEFT JOIN view_bldInfo t3 on t2.project_id = t3.project_id and t2.bld_no = t3.bld_no
			WHERE t1.region_id = #{regionId}
			ORDER BY to_number(nvl(regexp_replace(t3.bld_name, '[^0-9]'), -1)) asc, t3.bld_no asc
		]]>
	</select>
</mapper>