<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.bestvike.website.dao.ViewHouseInfoDao">
	<select id = "selectDivisions" resultType = "ViewDivisionInfo">
        <![CDATA[
		  SELECT t1.*, t2.region_num, t3.bld_num FROM view_divisionInfo t1
		  LEFT JOIN (SELECT COUNT(1) region_num, division_code FROM view_regioninfo GROUP BY division_code) t2
		  ON t1.division_code = t2.division_code
		  LEFT JOIN (SELECT COUNT(1) bld_num, division_code FROM view_regioninfo vr
		  	INNER JOIN ass_regbld ar on vr.region_id = ar.region_id
		  GROUP BY division_code) t3
		  ON t1.division_code = t3.division_code
        ]]>
    </select>
</mapper>