.return-to {
    width: 40px;
    height: 40px;
    color: #ffffff;
    background-color: #1e9fff;
    opacity: 0.5;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
.return-to:hover {
    color: #ffffff;
    opacity: 1;
}

.room-list {
    margin: 0;
    padding: 5px 0;
    width: 150px;
    color: #333;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.bg-gdcd {
    height: 32px;
    background: #00dd02;
    font-size: 16px;
    padding: 0 8px;
    font-weight: bold;
    position: relative;
}

.legends .iconfont {
    font-size: 24px;
    vertical-align: middle;
}

.bg-gdcd span.sell-state {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.m-bott {
    padding: 6px;
    line-height: 20px;
    border: 1px solid #dcdddd;
}

.room-content {
    width: 260px;
    position: absolute;
    z-index: 999;
    top: -120px;
    left: 160px;
    display: none;
}

.room-content h3 {
    padding: 0 10px;
}

.room-list:hover .room-content {
    display: block;
    z-index: 999;
}

.content-box {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.content-box p {
    margin: 0;
    color: #999;
}

.content-box p span {
    color: #333;
}

.box-title span {
    font-size: 14px;
    margin-left: 8px;
    border: 1px solid #959595;
    padding: 0 5px;
}

.bldSpan, .cellSpan {
    background-color: white;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
}

.bldDiv {
    margin: 5px;
    background-color: aqua;
    text-align: center;
    width: 150px;
    color: #333;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.bldSpan:hover, .cellSpan:hover {
    background-color: #09ff11;
}

.bldDiv:hover {
    background-color: #09ff11;
}

.selectedBld, .selectedCell {
    background-color: #09ff11;
}

.legends {
    width: 100%;
    display: inline-block;
}
.legends .legend {
    float: left;
    padding: 5px;
}
.legends .legend i, .legends .legend span {
    float: left;
    display: block;
}
.legends .legend span {
    margin-top: 3px;
}
.cells {
    display: inline-block;
    margin: auto 20px;
}
.cells .cell-name {
    float: left;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #fafafa;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #1475cf;
}
.floor {
    display: inline-block;
    width: 100%;
}
.floor .layui-timeline-axis {
    height: auto;
}
.floor.layui-timeline-item {
    padding-bottom: 0;
    margin-bottom: -3px;
}
.floor .cell {
    float: left;
    padding-bottom: 20px;
}
.floor .cell.normal {
    padding-left: 11px;
}
.room-content .content-top {
    background: url('../images/houseTitle.png');
}