<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>赤峰市房产信息网</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
</head>
<body>

</body>