<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>赤峰市房产信息网</title>
	<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
	<link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/js/respond.min.js}"></script>
	<style>
		body {
			background-color: #F2F2F2;
			overflow: hidden;
		}
		
		.header {
			height: 80px;
			background-color: #ffffff;
		}
		
		.header .logo {
			height: 100%;
			/*display: flex;*/
			/*align-items: center;*/
			padding: 20px;
		}
		
		.header .container {
			height: 100%;
		}
		
		.header .btn-group {
			text-align: right;
			padding: 20px 40px;
			/*display: flex;
			justify-content: center;
			align-items: center;*/
		}

		.header .btn-group .refresh-btn{
			width: 40%;
		}

		.header .btn-group .video-btn{
			width: 50%;
		}

		.header .container .wrapper {
			height: 100%;
			/*display: grid;
			grid-template-rows: 30px 50px;
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: "i t t t" "i v v v";*/
		}
		
		.header .container .wrapper .wrapper-image {
			text-align: center;
			position: absolute;
			width: 25%;
			height: 100%;
			padding-top: 20px;
			/*grid-area: i;
			display: flex;
			justify-content: center;
			align-items: center;*/
		}
		
		.header .container .wrapper .wrapper-title {
			width: 75%;
			float: right;
			/*grid-area: t;*/
			color: #7d7e80;
			padding-top: 10px;
		}
		
		.header .container .wrapper .wrapper-value {
			width: 75%;
			float: right;
			/*grid-area: v;*/
			font-size: 16px;
			font-weight: bold;
		}
		
		.content {
			margin-top: 20px;
		}
		
		.content .container {
			border-radius: 8px;
			background-color: #ffffff;
			margin: 0 16px 16px;
		}
		
		.content .title {
			height: 10%;
		}
		
		.content .chart {
			height: 90%;
		}
		
		.content .title .maintitle {
			font-size: 18px;
			font-weight: bold;
		}
		
		.content .title .subtitle {
			font-size: 14px;
			text-align: right;
			color: #7d7e80;
		}
		
		.tab-active {
			color: #ff0000;
			border-bottom: 4px red solid;
		}
		
		.tab-business {
			position: absolute;
			height: 100%;
			right: 10%;
			cursor: pointer;
		}
		
		.tab-house {
			position: absolute;
			height: 100%;
			right: 30%;
			cursor: pointer;
		}
		
		.content .layui-col-md4 {
			height: 100%;
		}
		
		.content .chart-map {
			height: 100%;
			margin: 0;
		}
		
		.content .chart-sale, .content .chart-price, .content .list-trade, .content .chart-stock {
			height: 50%;
		}
		
		.content .list-trade {
			overflow: hidden;
		}
		
		.list-trade h3 {
			text-align: center;
			font-size: 18px;
			color: #333333;
			padding: 5px 5px 0px 5px;;
			/*border-bottom: 1px solid #e1e1e1;*/
		}
		
		.layui-table thead tr {
			background-color: #eceff2;
			color: #333333;
		}
	</style>
</head>
<body>
<div th:replace="common :: ready"></div>
<script th:inline="javascript">
	function initLayout() {
	    //获取高度兼容IE8 window.innerHeight
        var height=window.innerHeight||Math.max(document.documentElement.clientHeight, document.body.clientHeight);
		document.getElementById('content').style.height = (height - 100) + 'px';
		document.getElementById('content-left').style.height = (height - 116) + 'px';
		document.getElementById('content-right').style.height = (height - 116) + 'px';
	}

	document.ready(function () {
		initLayout();
	});
</script>
<div class="header layui-row layui-col-space10">
	<div class="logo layui-col-md3">
		<img th:src="@{/themes/images/console-logo.png}">
	</div>
	<div class="container layui-col-md7">
		<div class="layui-col-md3" style="height: 100%">
			<div class="wrapper">
				<div class="wrapper-image">
					<img th:src="@{/themes/images/console-region-white.png}">
				</div>
				<div class="wrapper-title">
					住宅套数/面积
				</div>
				<div class="wrapper-value">
					<span class="data" th:text="${data.lastest.residenceNum}?: '0'"></span>套/
					<span class="data" th:text="${data.lastest.residenceArea}?: '0'"></span>万㎡
				</div>
			</div>
		</div>
		<div class="layui-col-md3" style="height: 100%">
			<div class="wrapper">
				<div class="wrapper-image">
					<img th:src="@{/themes/images/console-area-white.png}">
				</div>
				<div class="wrapper-title">
					商业套数/面积
				</div>
				<div class="wrapper-value">
					<span class="data" th:text="${data.lastest.businessNum}?: '0'"></span>套/
					<span class="data" th:text="${data.lastest.businessArea}?: '0'"></span>万㎡
				</div>
			</div>
		</div>
		<div class="layui-col-md3" style="height: 100%">
			<div class="wrapper">
				<div class="wrapper-image">
					<img th:src="@{/themes/images/console-yesterday.png}">
				</div>
				<div class="wrapper-title">
					昨日交易套数/面积
				</div>
				<div class="wrapper-value">
					<span class="data" th:text="${data.lastest.yesTradeNum}?: '0'"></span>套/
					<span class="data" th:text="${data.lastest.yesTradeArea}?: '0'"></span>万㎡
				</div>
			</div>
		</div>
		<div class="layui-col-md3" style="height: 100%">
			<div class="wrapper">
				<div class="wrapper-image">
					<img th:src="@{/themes/images/console-today.png}">
				</div>
				<div class="wrapper-title">
					今日交易套数/面积
				</div>
				<div class="wrapper-value">
					<span class="data" th:text="${data.lastest.todTradeNum}?: '0'"></span>套/
					<span class="data" th:text="${data.lastest.todTradeArea}?: '0'"></span>万㎡
				</div>
			</div>
		</div>
	</div>
	<div class="container layui-col-md2 btn-group">
		<button type="button" class="layui-btn layui-btn-lg layui-btn-warm refresh-btn">&nbsp;刷新&nbsp;</button>
		<button type="button" class="layui-btn layui-btn-lg layui-btn-danger video-btn">视频入口</button>
	</div>
</div>
<!--<div class="header layui-row layui-col-space10">
	<div class="layui-col-md3">
		<div class="container count-region">
			<div class="detail">
				<div class="title">小区数</div>
				<div><span class="data" th:text="${data.regionNum}?: '0'"></span>个</div>
			</div>
		</div>
	</div>
	<div class="layui-col-md3">
		<div class="container count-area">
			<div class="detail">
				<div class="title">存量面积</div>
				<div><span class="data" th:text="${data.stockArea}?: '0'"></span>㎡</div>
			</div>
		</div>
	</div>
	<div class="layui-col-md3">
		<div class="container count-trade-yesterday">
			<div class="detail">
				<div class="title">昨日交易量</div>
				<div><span class="data" th:text="*{data.yesterdayTradingArea}?: '0'"></span>套</div>
			</div>
		</div>
	</div>
	<div class="layui-col-md3">
		<div class="container count-trade-today">
			<div class="detail">
				<div class="title">今日交易量</div>
				<div><span class="data" th:text="*{data.todayTradingArea}?: '0'"></span>套</div>
			</div>
		</div>
	</div>
</div>-->
<div id="content" class="content layui-row layui-col-space10">
	<div id="content-left" class="layui-col-md4">
		<div class="chart-sale container layui-card">
			<div class="title layui-row layui-card-header">
				<div class="maintitle layui-col-md6">
					商品房供给和销售情况示意图
				</div>
				<div class="subtitle layui-col-md6">
					单位：<strong>万平方米</strong>
				</div>
			</div>
			<div class="layui-card-body chart">
				<div id="content-sale" style="height: 100%"></div>
			</div>
		</div>
		<div class="chart-price container layui-card">
			<div class="title layui-row layui-card-header">
				<div class="maintitle layui-col-md6">
					商品房销售均价示意图
				</div>
				<div class="subtitle layui-col-md6">
					单位：<strong>元/平方米</strong>
				</div>
			</div>
			<div class="layui-card-body chart">
				<div id="content-price" style="height: 100%"></div>
			</div>
		</div>
	</div>
	<div class="layui-col-md4 layui-card container chart-map">
		<div class="layui-card-header" style="height: 5%;">
			<div style="font-size: 18px;font-weight: bold;">
				房源热度图
			</div>
		</div>
		<div class="layui-card-body" style="height: 95%;">
			<div id="content-map" style="height: 100%;"></div>
		</div>
	
	</div>
	<div id="content-right" class="layui-col-md4">
		<div class="chart-stock container layui-card">
			<div class="title layui-row layui-card-header">
				<div class="maintitle layui-col-md6">
					商品房库存情况示意图
				</div>
				<div class="subtitle layui-col-md6">
					单位：<strong>万平方米</strong>
				</div>
			</div>
			<div class="layui-card-body chart">
				<div id="content-stock" style="height: 100%;"></div>
			</div>
		</div>
		<div class="list-trade container layui-card">
			<div class="title layui-row layui-card-header">
				<div class="maintitle layui-col-md6">
					项目房源热度(近30天)
				</div>
				<div class="subtitle layui-col-md6">
					<span class="tab-house tab-active">住宅</span>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="tab-business">商业</span>
				</div>
			</div>
			<div class="layui-card-body chart" style="overflow-y: auto;">
				<table id="list-trade-data" lay-filter="table"></table>
			</div>
		</div>
	</div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/layui/echarts/echarts.js}"></script>
<script th:src="@{/layui/echarts/macarons.js}"></script>
<script th:inline="javascript">
	var ctxPath = /*[[@{/}]]*/'';
	layui.use(['layer', 'table'], function () {
		var $ = layui.jquery;
		var token = [[${token}]];
		//跳转到视频直播页面
        $('.video-btn').on('click', function () {
            // window.open(ctxPath + 'sales/' + $(this).attr("data-value"));
            window.location.href = ctxPath + 'video/' + token;
        });
        //刷新页面
        $('.refresh-btn').on('click', function () {
            window.location.reload();
        });

		// 供给和销售情况
		var saleChart = echarts.init(document.getElementById('content-sale'), 'macarons');
		saleChart.setOption({
			/*title: {
				text: '商品房供给和销售情况示意图',
				textStyle: {
					fontSize: '18',
					color: '#333333'
				},
				subtext: '单位：万平方米',
				subtextStyle: {
					color: '#333333',
					rich: {
					    align: "right"
					}
				}
			},*/
			legend: {
				y: 'top'
			},
			tooltip: {
                trigger: 'axis'
			},
			dataset: {
				dimensions: ['月份', '商品房(供给)', '商品房(销售)', '住宅(供给)', '住宅(销售)'],
				source: [[${data.monthArea}]]
			},
			xAxis: {type: 'category'},
			yAxis: {},
			series: [
				{
					type: 'line',
					smooth: false,
					label: {
						normal: {
							show: true,
							position: 'top'
						}
					}
				}, {
					type: 'line',
					smooth: false,
					label: {
						normal: {
							show: true,
							position: 'top'
						}
					}
				}, {
					type: 'line',
					smooth: false,
				}, {
					type: 'line',
					smooth: false,
				}
			]
		});

		// 销售均价
		var priceChart = echarts.init(document.getElementById('content-price'), 'macarons');
		priceChart.setOption({
			/*title: {
				text: '商品房销售均价示意图',
				x: 'center',
				textStyle: {
					fontSize: '18',
					color: '#333333'
				},
				subtext: '单位：元/平方米',
				subtextStyle: {
					color: '#333333'
				}
			},*/
			tooltip: {
				trigger: 'axis'
			},
			dataset: {
				dimensions: ['月份', '住宅', '商业', '配套'],
				source: [[${data.monthAvgPrice}]]
			},
			legend: {
				y: 'top',
			},
			xAxis: {type: 'category'},
			yAxis: {},
			series: [
				{
					type: 'line',
					smooth: false,
                    label: {
                        normal: {
                            show: true,
                            position: 'top'
                        }
                    }
				}, {
					type: 'line',
					smooth: false
				}, {
					type: 'line',
					smooth: false
				}
			]
		});

		// 库存
		var stockChart = echarts.init(document.getElementById('content-stock'), 'macarons');
		stockChart.setOption({
			/*title: {
				text: '商品房库存情况示意图',
				x: 'center',
				textStyle: {
					fontSize: '18',
					color: '#333333'
				},
				subtext: '单位：万平方米',
				subtextStyle: {
					color: '#333333'
				}
			},*/
			tooltip: {
				trigger: 'axis'
			},
			dataset: {
				dimensions: ['月份', '住宅', '商业', '配套'],
				source: [[${data.monthStocks}]]
			},
			legend: {
				y: 'top'
			},
			xAxis: {type: 'category'},
			yAxis: {},
			series: [
				{
					type: 'bar',
					label: {
						normal: {
							show: true,
							position: 'top'
						}
					}
				}, {
					type: 'bar',
					label: {
						normal: {
							show: true,
							position: 'top'
						}
					}
				}, {
					type: 'bar',
					label: {
						normal: {
							show: true,
							position: 'top'
						}
					}
				}
			]
		});

		//// 交易流水
		//tab 切换表格数据
		$('.tab-business').on('click', function () {
			$('.tab-business').addClass('tab-active');
			$('.tab-house').removeClass('tab-active');
			var loadingIndex = layer.load(2);
			$.get(ctxPath + "region-trades?dataType=business", {}, function (data) {
				//渲染表格数据
				layui.table.render({
					elem: '#list-trade-data',
					skin: 'line',
					cols: [
						[{
							field: 'regionId',
							title: '小区Id',
							hide: true
						}, {
							field: 'regionName',
							title: '项目名称'
						}, {
							field: 'divisionName',
							title: '区域'
						}, {
							field: 'sales',
							title: '套数/面积'
						}, {
							field: 'avgPrice',
							title: '均价'
						}]
					],
					data: data
				});
			});
			layer.close(loadingIndex);
		});
		$('.tab-house').on('click', function () {
			$('.tab-business').removeClass('tab-active');
			$('.tab-house').addClass('tab-active');
			var loadingIndex = layer.load(2);
			$.get(ctxPath + "region-trades?dataType=residence", {}, function (data) {
				//渲染表格数据
				layui.table.render({
					elem: '#list-trade-data',
					skin: 'line',
					cols: [
						[{
							field: 'regionId',
							title: '小区Id',
							hide: true
						}, {
							field: 'regionName',
							title: '项目名称'
						}, {
							field: 'divisionName',
							title: '区域'
						}, {
							field: 'sales',
							title: '套数/面积'
						}, {
							field: 'avgPrice',
							title: '均价'
						}]
					],
					data: data
				});
			});
			layer.close(loadingIndex);
		});
		//渲染表格数据
		layui.table.render({
			elem: '#list-trade-data',
			skin: 'line',
			cols: [
				[{
					field: 'regionId',
					title: '小区Id',
					hide: true
				}, {
					field: 'regionName',
					title: '项目名称'
				}, {
					field: 'divisionName',
					title: '区域'
				}, {
					field: 'sales',
					title: '套数/面积'
				}, {
					field: 'avgPrice',
					title: '均价'
				}]
			],
			data: [[${data.regionTrades}]]
		});

		layui.table.on('row(table)', function (obj) {
			var data = obj.data;

			//标注选中样式
			obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');

			// window.location.replace(ctxPath + 'content/' + data.regionId);
		});

		//// 地图
		var mapChart = echarts.init(document.getElementById('content-map'), 'macarons');
		mapChart.showLoading();

		$.get(ctxPath + '150400.json', function (geoJson) {
			mapChart.hideLoading();
			echarts.registerMap('maps', geoJson);
			var geoCoordMap = [[${data.regionMap}]];

			var convertData = function (data) {
				var res = [];
				for (var i = 0; i < data.length; i++) {
					var geoCoord = geoCoordMap[data[i].regionName];
					if (geoCoord) {
						res.push({
							name: data[i].regionName,
							value: geoCoord.concat(data[i].tradeNum)
						});
					}
				}
				return res;
			};

			var regions = [[${data.regionTrades}]];

			option = {
				/*title: {
					text: '房源热度图',
					x: 'center',
					textStyle: {
						fontSize: '18',
						color: '#333333'
					}
				},*/
				tooltip: {
					trigger: 'item',
					formatter: function (params) {
						if (typeof (params.value[2]) != "undefined") {
							if (isNaN(params.value[2])) {
								return '';
							}
							return params.name + ' : ' + params.value[2];
						} else if (typeof (params.value) != "undefined") {
							if (isNaN(params.value)) {
								return '';
							}
							return params.name + ' : ' + params.value;
						} else {
							return '';
						}
					}
				},
				visualMap: {
					min: 0,
					max: 500,
					text: ['High', 'Low'],
					realtime: false,
					calculable: true,
					inRange: {
						color: ['lightskyblue', 'yellow', 'orangered']
					}
				},
				geo: {
					show: true,
					map: 'maps',
					label: {
						normal: {
							show: false
						},
						emphasis: {
							show: false,
						}
					},
					roam: true,
					itemStyle: {
						normal: {
							areaColor: '#e7eeff',
							borderColor: '#bcc8ef',
						},
						emphasis: {
							areaColor: '#ffd0a5',
							borderColor: '#ff9c42'
						}
					}
				},
				series: [
					// {
					// 	type: 'map',
					// 	map: 'maps',
					// 	geoIndex: 0,
					// 	aspectScale: 0.75,
					// 	showLegendSymbol: false,
					// 	label: {
					// 		normal: {
					// 			show: false
					// 		},
					// 		emphasis: {
					// 			show: false,
					// 			textStyle: {
					// 				color: '#fff'
					// 			}
					// 		}
					// 	},
					// 	roam: true,
					// 	itemStyle: {
					// 		normal: {
					// 			areaColor: '#074dff',
					// 			borderColor: '#3B5077',
					// 		},
					// 		emphasis: {
					// 			areaColor: '#2B91B7'
					// 		}
					// 	},
					// 	animation: true,
					// 	data: divisons
					// },
					{
						name: '散点图',
						type: 'effectScatter',
						coordinateSystem: 'geo',
						data: convertData(regions),
						symbolSize: function (val) {
							return 20;
						},
						showEffectOn: 'emphasis',
						rippleEffect: {
							brushType: 'stroke'
						},
						zlevel: 1
					}
				]
			};
			mapChart.setOption(option);
		});

		$(window).resize(function () {
			initLayout();

			saleChart.resize();
			priceChart.resize();
			stockChart.resize();

			mapChart.resize();
		});
	});
</script>
</body>