<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>赤峰市房产信息网</title>
	<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
	<link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/layui/autocomplete/autocomplete.css}" rel="stylesheet" type="text/css">
	<style type="text/css">
		.layui-div-search {
			display: inline-block;
			position: relative;
		}

		.layui-input-search {
			width: 400px;
			padding: 8px 20px;
			border-radius: 20px;
			box-shadow: none;
			background: #fff;
			border: 1px solid #1E9EFF;
			outline: none;
			font-size: 16px;
		}

		.layui-icon-search {
			position: relative;
			right: -400px;
			top: -30px;
			font-size: 23px;
			color: #1E9FFF;
		}

		.layui-breadcrumb a.selected {
			color: green !important;
		}

		.summary-card {
			cursor: pointer;
			margin-bottom: 1px;
		}
		.summary-card:hover {
			background-color: #fafafa;
		}

		.summary-card .region-name {
			color: green;
		}

		.summary-card:hover .region-info button {
			background-color: #1e9fff;
			border: 1px solid #1e9fff;
			color: #ffffff;
		}

		.layui-form-search {
			margin-bottom: 10px;
			padding-top: 10px;
		}

		.layui-form-search .layui-elem-quote {
			border: none;
			margin-bottom: 0;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.layui-card .layui-elem-quote {
			border-left: none;
			background-color: transparent;
			padding: 0;
		}
		.layui-card .region-info .layui-elem-quote.region-name {
			font-size: 24px;
			font-weight: bold;
			padding: 10px 0;
		}
		.region-info {
			font-size:16px;
		}
	</style>
</head>
<body class="layui-layout-body" style="min-width: 1000px;overflow-x: auto;overflow-y: auto;background: #f1f1f1">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header layui-bg-blue" style="position: fixed;width: 100%;">
		<div class="layui-col-md3" style="padding-left: 15px;padding-top: 15px">
			<img th:src="@{/themes/images/logo.png}">
		</div>
	</div>
	<div id="layui-body" data-anim="layui-anim-upbit" style="width: 75%;min-width: 1000px;margin:0 auto;padding-top: 65px;">
		<div style="width: 100%;height:60px;background-color: white;padding-top: 15px;">
			<div class="layui-col-md6" style="padding-left: 15px;">
				<div class="layui-div-search">
					<input placeholder="请输入小区名称或小区地址进行检索" class="layui-input-search" id="auto-regions" name="auto-regions">
					<i class="layui-icon layui-icon-search"></i>
				</div>
			</div>
			<div class="layui-col-md6" style="padding-right: 15px;">
				<button type="button" class="layui-btn layui-btn-lg layui-btn-normal layui-btn-maps" style="float:right;">
					<i class="layui-icon layui-icon-location layui-btn-maps" style="color: #ff0813;"></i>地图导航
				</button>
			</div>
		</div>
		<div class="layui-form-search" style="margin-top: 10px;background-color: white;">
			<blockquote class="layui-elem-quote layui-quote-nm">
				区域范围：
				<span class="layui-breadcrumb division" lay-separator="|">
					<a href="javascript:;" data-value="" class="selected">不限</a>
					<a href="javascript:;" data-value="150404">松山区</a>
					<a href="javascript:;" data-value="150402">红山区</a>
				</span>
			</blockquote>
			<!--
			<blockquote class="layui-elem-quote layui-quote-nm">
				备案均价：
				<span class="layui-breadcrumb avgPrice" lay-separator="|">
					<a href="javascript:;" class="selected">不限</a>
					<a href="javascript:;" data-value=" < 7000">7000元/㎡以下</a>
					<a href="javascript:;" data-value="between 7000 and 8000">7000~8000元/㎡</a>
					<a href="javascript:;" data-value="between 8000 and 9000">8000~9000元/㎡</a>
					<a href="javascript:;" data-value="between 9000 and 10000">9000~10000元/㎡</a>
					<a href="javascript:;" data-value=" > 10000">10000元/㎡以上</a>
				</span>
			</blockquote>
			-->
			<blockquote class="layui-elem-quote layui-quote-nm">
				房屋户型：
				<span class="layui-breadcrumb houseHold" lay-separator="|">
					<a href="javascript:;" class="selected">不限</a>
					<a href="javascript:;" data-value="一室">一室</a>
					<a href="javascript:;" data-value="二室">二室</a>
					<a href="javascript:;" data-value="三室">三室</a>
					<a href="javascript:;" data-value="四室">四室</a>
					<a href="javascript:;" data-value="五室">五室</a>
					<a href="javascript:;" data-value="其他">其他</a>
				</span>
			</blockquote>
		</div>
		<div id="regionCardContainer"></div>
		<div id="page" style="text-align: right"></div>
	</div>
</div>
<script id="regionCardScript" type="text/html">
	<blockquote class="layui-elem-quote layui-quote-nm" style="background-color: #fafafa; margin-bottom: 0; border-left: 0;">
		小区列表：共为您筛选出<label style="color: red">{{d.page.totalSize}}</label>个小区
	</blockquote>
	{{#  layui.each(d.list, function(index, item){ }}
	<div class="layui-card summary-card" data-value="{{=item.regionId}}" style="cursor: pointer;">
		<!--<div class="layui-card-header">
			<div style="float: left;">
				<label style="color: green;font-weight:bold;font-size: large">{{item.regionName}}</label>
			</div>
			<div style="float: right">
				<button type="button" class="layui-btn layui-btn-primary summary-btn" value="{{=item.regionId }}">查看详情</button>
			</div>
		</div>-->
		<div class="layui-card-body" style="overflow: hidden">
			<div class="layui-col-md9" style="float: left">
				<div class="layui-col-md3" style="float: left">
					<img src="{{=item.logoPath}}" style="width: 250px;height: 150px">
				</div>
				<div class="layui-col-md9 region-info" style="float: left; padding-left: 30px">
					<p class="layui-elem-quote region-name">{{item.regionName}}</p>
					<p class="layui-elem-quote"><span class="gray">小区地址：</span><label>{{item.address}}</label></p>
					<p class="layui-elem-quote"><span class="gray">预售许可日期：</span><label>{{item.preSaleDate}}</label></p>
					<p class="layui-elem-quote"><button type="button" class="layui-btn layui-btn-primary summary-btn" value="{{=item.regionId }}">查看详情</button></p>
				</div>
			</div>
			<div class="layui-col-md3" style="text-align: right;padding-top: 50px">
				<!--
				{{# if(item.avgPrice != 0){ }}
				住宅备案均价：<label style="color: red;font-size: x-large">{{item.avgPrice}}元/㎡</label>
				{{# } }}
				-->
			</div>
		</div>
	</div>
	{{#  }); }}
</script>
<script th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
	var ctxPath = /*[[@{/}]]*/'';
	var page = {
		pageNo: 1,
		pageSize: 10,
		totalSize: 1
	};
	layui.config({
		base: ctxPath + 'layui/autocomplete/'
	}).extend({ //设定模块别名
		autocomplete: 'autocomplete'
	});
	layui.use(['laypage', 'carousel', 'element', 'layer', 'autocomplete', 'laytpl'], function () {
		var $ = layui.jquery;
		var autocomplete = layui.autocomplete;
		var laytpl = layui.laytpl;

		// auto 快速定位，过滤小区
		autocomplete.render({
			elem: $('#auto-regions')[0],
			url: ctxPath + 'auto-regions',
			template_val: '{{d.regionName}}',
			template_txt: '{{d.regionName}} <span class=\'layui-badge layui-bg-gray\'>{{d.address}}</span>',
			onselect: function (resp) {
				// 跳转到选择的项目详情页面
				window.location.href = ctxPath + 'content/' + resp.regionId;
			}
		});

		refreshData(1);

		// 跳转到地图刷新页面
		$(".layui-btn-maps").on("click", function () {
			window.open(ctxPath + 'maps', '_blank');
		});

		// 跳转到小区详情页面
		$(".summary-card").on("click", function () {
			window.open(ctxPath + 'content/' + $(this).attr("data-value"), '_parent');
		});

		$(".layui-breadcrumb a").on("click", function () {
			$(this).parent().find(".selected").removeClass("selected");
			$(this).addClass("selected");
			refreshData(1);
		});

		$('img').error(function () {
			$(this).attr('src', ctxPath + "themes/images/nothing.png");
		});
		
		function refreshPage(page) {
			var laypage = layui.laypage;

			laypage.render({
				elem: 'page'
				, count: page.totalSize
				, limit: page.pageSize
				, curr: page.pageNo
				, theme: '#1E9FFF'
				, jump: function (obj, first) {
					if (!first) {
						refreshData(obj.curr);
					}
				}
			});
		}

		function refreshData(pageNo) {
			$.ajax({
				url: ctxPath + 'filter-regions',
				method: 'get',
				data: {
					divisionCode: $(".division").find(".selected").attr("data-value"),
					price: $(".avgPrice").find(".selected").attr("data-value"),
					houseHold: $(".houseHold").find(".selected").attr("data-value"),
					pageNo: pageNo,
					pageSize: page.pageSize
				},
				success: function (res) {
					var getTpl = document.getElementById("regionCardScript").innerHTML
						, view = document.getElementById('regionCardContainer');
					laytpl(getTpl).render(res, function (html) {
						view.innerHTML = html;
						// 跳转到小区详情页面
						$(".summary-card").off("click").on("click", function () {
							window.open(ctxPath + 'content/' + $(this).attr("data-value"));
						});
					});
					page.pageNo = pageNo;
					page.totalSize = res.page.totalSize;
					refreshPage(page);
				}
			});
		}
	});
</script>
</body>
</html>