<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>赤峰市房产信息网</title>
	<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
	<link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
	<script type="text/javascript"
			src="https://webapi.amap.com/maps?v=1.4.14&key=711b07f98b652cadccc69f4abd7ed455&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.MarkerClusterer,AMap.ToolBar"></script>
	<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header layui-bg-blue">
		<div class="layui-logo" style="color: white">赤峰市房产信息网</div>
	</div>
	<div class="layui-col-md9">
		<div id="container"></div>
	</div>
	<div class="layui-col-md3" style="overflow-y: auto">
		<div class="layui-btn-group sortBtnGroup" style="margin-top: 5px;">
			<button class="layui-btn layui-btn-sm" data-type="set" data-key="indicator" data-value="default" style="background-color: #5FB878;">默认</button>
			<button class="layui-btn layui-btn-sm" data-type="set" data-key="indicator" data-value="popularity">人气</button>
			<button class="layui-btn layui-btn-sm" data-type="set" data-key="indicator" data-value="price">售价</button>
		</div>
		<div class="layui-card" th:each="project : ${projects}">
			<div class="layui-card-header">
				<div style="float: left;">
					<label style="color: green;font-weight:bold" th:text="${project.projectname}"></label>&nbsp;&nbsp;
					¥<label style="color: red;font-weight:bold" th:text="${project.averageprice}"></label>
				</div>
				<div style="float: right">
					<button type="button" class="layui-btn layui-btn-primary summary-btn" th:value="${project.getProjectno()}">查看详情</button>
				</div>
			</div>
			<div class="layui-card-body">
				<img src="https://pic4.ajkimg.com/display/xinfang/665944b5b39a56537506838714c4e8b4/129x115n.jpg">
				项目地址：<label th:text="${project.address}"></label>
			</div>
		</div>
	</div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
	layui.use(['carousel', 'element', "layer"], function () {
		var $ = layui.jquery;
		var layer = layui.layer;

		$("#container").height(window.innerHeight);
		$(".layui-col-md3").height(window.innerHeight);

		var area = ["阿鲁科尔沁旗", "巴林左旗", "巴林右旗", "克什克腾旗", "林西县", "翁牛特旗", "松山区", "宁城县", "红山区", "元宝山区", "喀喇沁旗", "敖汉旗"]
		var LngLats=[
			[120.094969,43.87877], [119.391737,43.980715], [118.678347,43.528963], [117.542465,43.256233], [118.05775,43.605326], [119.022619,42.937128], [118.938958,42.281046], [119.339242,41.598692], [118.961087,42.269732], [119.289877,42.041168], [118.708572,41.92778],
			[119.906486,42.287012]
		]
		// 创建地图实例
		var map = new AMap.Map("container", {
			center: [118.916202, 42.271235], //初始地图中心点
			resizeEnable: true, //是否监控地图容器尺寸变化
			zoom: 10,
			zooms: [10, 15]
		});

		var toolBar = new AMap.ToolBar({
			visible: true
		});
		toolBar.hideDirection();
		map.addControl(toolBar);

		$.get("/projects", {}, function (data) {
			layer.msg('共为您过滤出' + data.length + "个项目~~~");

			addMap();
			function addMap() {
				for (i = 0; i < area.length; i++) {
					var circleMarker = new AMap.CircleMarker({
																 center:LngLats[i],
																 radius:38,
																 strokeColor:'white',
																 strokeWeight:2,
																 strokeOpacity:0.5,
																 fillColor:'#3CB371',
																 fillOpacity:1,
																 zIndex:10,
																 bubble:true,
																 cursor:'pointer',
																 clickable: true
															 })
					circleMarker.setMap(map)

					// 点标记显示内容，HTML要素字符串
					var markerContent =
						'<div style="width:50px;background-color:#3CB371;color:#FFFAFA">' +
						' <center>'+area[i]+'<br/>5641套<br/></center>' +
						'</div>';
					//console.log(position);
					var marker = new AMap.Marker({
													 position: LngLats[i],
													 // 将 html 传给 content
													 content: markerContent,
													 // 以 icon 的 [center bottom] 为原点
													 offset: new AMap.Pixel(-25, -27)
												 });
					// 将 markers 添加到地图
					map.add(marker);
				}
			}
			function addMapPoint(){
				for (var i = 0, marker; i < data.length; i++) {debugger
					var project = data[i];
					if (isNaN(project.xcoordinate) || isNaN(project.ycoordinate)) {
						continue;
					}
					if (project.xcoordinate==null|| project.ycoordinate==null){
						continue;
					}
					// 创建一个 Icon
					var Icon = new AMap.Icon({
												 // 图标尺寸
												 size: new AMap.Size(50, 50),
												 // 图标的取图地址
												 image: '/themes/images/ld.png',
												 // 图标所用图片大小
												 imageSize: new AMap.Size(40, 40),
												 // 图标取图偏移量
												 imageOffset: new AMap.Pixel(-7, 0)
											 });
					marker = new AMap.Marker({
												 icon: Icon,
												 position: [parseFloat(project.xcoordinate), parseFloat(project.ycoordinate)],
												 offset: new AMap.Pixel(-13, -30),
												 map: map
											 });
					marker.content = "<div class=\"layui-card\">"
									 + "<div class=\"layui-card-header\">"
									 + project.projectname
									 + "</div>"
									 + "<div class=\"layui-card-body\">"
									 + "<img src=\"https://pic4.ajkimg.com/display/xinfang/665944b5b39a56537506838714c4e8b4/129x115n.jpg\">"
									 + "</div>"
									 + "</div>";
					marker._id = project.projectno;
					marker.on('mouseover', markerOver);
					marker.on('click', markerClick);
				};
				var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -30)});

				//点击标注，展示自定义弹框
				function markerOver(e) {
					infoWindow.setContent(e.target.content);
					infoWindow.open(map, e.target.getPosition());
				}

				function markerClick(e) {
					// 用于页面传值
					layui.data('project', {
						key: 'projectno'
						, value: e.target._id
					});
					layer.open({
								   type: 2,
								   title: "项目详情",
								   area: ['90%', '900px'],
								   maxmin: true,
								   scrollbar: false,
								   content: ['/content/' + e.target._id, 'yes']
							   });
				}
			}
			map.on('zoomend', function () {
				var zoo = map.getZoom();
				if (zoo> 13) {
					map.clearMap();
					addMapPoint();
				}else if (zoo <= 13) {
					map.clearMap();
					addMap();
				}
			});

			function initPage(DistrictCluster, PointSimplifier, $) {
				var pointSimplifierIns = new PointSimplifier({
					zIndex: 110,
					autoSetFitView: false, //禁止自动更新地图视野
					getPosition: function (item) {
						return item.position;
					},
					getHoverTitle: function (dataItem, idx) {
						return dataItem.dataItem.projectname + " 均价：" + dataItem.dataItem.averageprice;
					},
					renderOptions: {
						//点的样式
						pointStyle: {
							width: 6,
							height: 6,
							fillStyle: 'rgba(153, 0, 153, 0.38)'
						},
						//鼠标hover时的title信息
						hoverTitleStyle: {
							position: 'top'
						}
					}
				});

				var distCluster = new DistrictCluster({
					zIndex: 100,
					getPosition: function (item) {
						//返回经纬度
						return [item.xcoordinate, item.ycoordinate];
					},
					topAdcodes: [150400] //赤峰市
				});
				var currentAdcode = null;

				//监听区划面的点击
				distCluster.on('clusterMarkerClick', function (e, record) {
					currentAdcode = record.feature.properties.adcode;
					//获取该节点的聚合信息
					distCluster.getClusterRecord(currentAdcode, function (error, result) {
						//currentAdcode已经更新，有新的点击
						if (result.adcode !== currentAdcode) {
							return;
						}
						//设置数据
						pointSimplifierIns.setData(result.dataItems);

					})
				});

				//pointSimplifierIns.on('pointClick', markerClick);

				distCluster.on('renderFinish', function (e, result) {
					var features = result.features, //当前绘制的features
						currentAdcodeExists = false;
					for (var i = 0, len = features.length; i < len; i++) {
						if (currentAdcode === features[i].properties.adcode) {
							currentAdcodeExists = true;
							break;
						}
					}
					if (!currentAdcodeExists) {
						//如果当前adcode没有绘制，清除？
						//pointSimplifierIns.setData(null);
					}
				});
				window.distCluster = distCluster;

				function refresh() {
					var zoom = map.getZoom();
					//获取 pointStyle
					var pointStyle = pointSimplifierIns.getRenderOptions().pointStyle;
					//根据当前zoom调整点的尺寸
					pointStyle.width = pointStyle.height = 2 * Math.pow(1.2, map.getZoom() - 3);
				}


				refresh();

				$('<div id="loadingTip">加载数据，请稍候...</div>').appendTo(document.body);
				distCluster.setData(data);
				// $.get('https://a.amap.com/amap-ui/static/data/10w.txt', function (csv) {
				//
				// });
			}
			//加载相关组件
			AMapUI.load(['ui/geo/DistrictCluster', 'ui/misc/PointSimplifier', 'lib/$'], function (DistrictCluster, PointSimplifier, $) {
				//启动页面
				initPage(DistrictCluster, PointSimplifier, $);
			});
		});

		function markerClick(dataItem, number) {
			debugger
			// 用于页面传值
			layui.data('project', {
				key: 'projectno'
				, value: number.data.dataItem.projectno
			});
			layer.open({
				type: 2,
				title: "项目详情",
				area: ['90%', '900px'],
				maxmin: true,
				scrollbar: false,
				content: ['/content/' + number.data.dataItem.projectno, 'yes']
			});
		}

		$('.summary-btn').on('click', function () {
			var projectno = $(this).val();
			layui.data('project', {
				key: 'projectno'
				, value: projectno
			});
			layer.open({
				type: 2,
				title: "项目详情",
				area: ['90%', '900px'],
				maxmin: true,
				scrollbar: false,
				content: ['/content/' + projectno, 'yes']
			});
		});

		var active = {
			set: function (othis) {
				var THIS = 'layui-bg-normal'
					, key = othis.data('key')
					, options = {};

				othis.css('background-color', '#5FB878').siblings().removeAttr('style');
				options[key] = othis.data('value');
			}
		};

		$('.sortBtnGroup .layui-btn').on('click', function () {
			var othis = $(this), type = othis.data('type');
			active[type] ? active[type].call(this, othis) : '';
		});
	});
</script>
</body>
</html>