<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="fragments/common :: header"></th:block>
	<link th:href="@{/themes/iconfont/iconfont.css}" rel="stylesheet" type="text/css">
	<th:block th:replace="fragments/sales :: style"></th:block>
</head>
<body id="website-body" class="layout-detail">
<div th:replace="fragments/common :: loading"></div>
<div th:replace="fragments/common :: layout-header(layout = 'detail')"></div>
<div id="website-content">
	<div th:replace="fragments/common :: layout-toolbar(current = 'sales')"></div>
	<div id="region-guide">
		<div class="layui-col-md6">
			<div th:replace="fragments/common :: region-carousel"></div>
		</div>
		<div id="region-navigator" class="layui-col-md6">
			<!--
			<div id="region-layout" class="layui-carousel">
				<div carousel-item>
					<div class="carousel-auto region-logo-container" th:each="str:${region?.regionLogos}">
						<img th:src="${str}" onerror="showDefaultImage(this)">
					</div>
				</div>
				<div class="layui-carousel-ind">
					<ul>
						<li th:each="str, iterStat:${region?.regionLogos}" th:class="${iterStat.index == 0} ? 'layui-this'" th:text="${iterStat.index + 1}"></li>
					</ul>
				</div>
			</div>
			-->
			<!--
			<th:block th:if="${cellNo == null}">
				<img th:src="${region?.viewPath}" onerror="showDefaultImage(this)">
				<div class="navigator-container">
					<th:block th:each="regionBld, iterStat:${region?.listRegionBlds}" th:if="${region.listRegionBlds}">
						<span th:if="${regionBld.location}" th:class="${region.viewPath != null ? 'navigator-map' : 'navigator-list'}" th:classappend="${bldNo == null ? iterStat.index == 0 : bldNo == regionBld.bldNo} ? 'building-selected'"
						  th:data-project-id="${regionBld.projectId}" th:data-bld-no="${regionBld.bldNo}" th:style="${regionBld.location}" th:text="${regionBld.bldName}"></span>
					</th:block>
				</div>
			</th:block>
			<th:block th:if="${cellNo != null}">
				<img th:src="${region.bldView.viewPath}" onerror="showDefaultImage(this)">
				<a class="return-to" href="javascript:;">返回</a>
				<div class="navigator-container">
					<th:block th:each="cell, iterStat:${region.bldView.cells}" th:if="${cell.location != null}">
					<span th:if="${regionBld.location}" th:class="cell-navigator-map" th:classappend="${cellNo == cell.CellNo} ? 'cell-selected'"
						  th:data-project-id="${cell.projectId}" th:data-bld-no="${cell.bldNo}" th:data-cell-no="${cell.cellNo}" th:style="${cell.location}" th:text="${cell.cellName}"></span>
					</th:block>
				</div>
			</th:block>
			-->
		</div>
	</div>
	<div th:replace="fragments/common :: sale-price"></div>
	<div class="layui-tab-content">
		<div id="sale-summary" class="layui-elem-quote" th:if="${region.bldView != null && region.bldView.bldSales != null}">
			<label th:text="${region.bldView.bldSales.cellName != null ? region.bldView.bldSales.cellName : region.bldView.bldSales.bldName}"></label>
			<label>销售情况：</label>
			总套数：<label style="color: #333333;" th:text="${region.bldView.bldSales.totalNum}"></label>
			已售套数：<label style="color: red;" th:text="${region.bldView.bldSales.sellNum}"></label>
			未售套数：<label style="color: #00dd02;" th:text="${region.bldView.bldSales.noSaledNum}"></label>
			[抵押：<label style="color: #ddb400;" th:text="${region.bldView.bldSales.mortgageNum}"></label>
			查封：<label style="color: #dd6600;" th:text="${region.bldView.bldSales.closeNum}"></label>
			冻结：<label style="color: #dd8800;" th:text="${region.bldView.bldSales.frozenNum}"></label>]
			自留/非卖套数：<label style="color: #b9d8dd;" th:text="${region.bldView.bldSales.noSaleNum}"></label>
		</div>
		<div class="sales-sum-box">
			<div style="border: 1px #1E9EFF solid;flex: 1;margin-right: 20px">
				<div style="height: 10%;background-color: #1E9EFF;color: white;padding: 10px 10px 0px 10px;">
					<span style="font-size: 18px;font-weight: bold;">住宅汇总</span>
					<span style="font-size: 16px;float: right;">总套数:9999套</span>
				</div>
				<div style="height: 57%;margin: 15px 15px 0px 15px;">
					<div style="width: 100%">
						<p style="font-size: 16px;color: #6B91A6">已售:</p>
						<div style="display: grid;grid-template-columns: repeat(3,1fr);grid-template-rows: 20px;grid-gap: 30px;margin-top: 5px;">
							<div><span style="color: #9D9D9D">合计:</span> 999套</div>
							<div><span style="color: #9D9D9D">已签订:</span> 666套</div>
							<div><span style="color: #9D9D9D">签订中:</span> 333套</div>
						</div>
					</div>
					<div style="width: 100%;margin-top: 15px;">
						<p style="font-size: 16px;color: #6B91A6">未售:</p>
						<div style="display: grid;grid-template-columns: repeat(3,1fr);grid-template-rows: 20px;grid-gap: 30px;margin-top: 5px;">
							<div><span style="color: #9D9D9D">合计:</span> 999套</div>
							<div><span style="color: #9D9D9D">查封:</span> 666套</div>
							<div><span style="color: #9D9D9D">抵押:</span> 333套</div>
						</div>
					</div>
					<div style="width: 100%;margin-top: 15px;">
						<p><span style="font-size: 16px;color: #6B91A6">自留/非卖:</span>999套</p>
					</div>
					<div style="width: 100%;margin-top: 15px;">
						<p><span style="font-size: 16px;color: #6B91A6">关闭:</span>999套</p>
					</div>
				</div>
				<div style="height: 30%;border-top: 1px solid #EBEBEB;margin: 0px 15px 0px 15px;">
					<div style="width: 100%;margin-top: 15px;">
						<p>
							<span style="font-size: 16px;color: #6B91A6">七室两厅:</span>
							<span style="position:relative;left: 10px;"><span style="color: #9D9D9D">共:</span>6户</span>
							<span style="position:absolute;left: 25%;"><span style="color: #9D9D9D">已售出:</span>0户</span>
						</p>
					</div>
					<div style="width: 100%;margin-top: 15px;">
						<p>
							<span style="font-size: 16px;color: #6B91A6">三室一厅:</span>
							<span style="position:relative;left: 10px;"><span style="color: #9D9D9D">共:</span>212户</span>
							<span style="position:absolute;left: 25%;"><span style="color: #9D9D9D">已售出:</span>208户</span>
						</p>
					</div>
				</div>
			</div>
			<div style="border: 1px #F59815 solid;flex: 1;margin-right: 20px;">
				<div style="height: 10%;background-color: #F59815;color: white;padding: 10px 10px 0px 10px;">
					<span style="font-size: 18px;font-weight: bold;">配套汇总</span>
					<span style="font-size: 16px;float: right;">总套数:9999套</span>
				</div>
				<div style="height: 57%;margin: 15px 15px 0px 15px;">
					<div style="width: 100%">
						<p style="font-size: 16px;color: #C6A556">已售:</p>
						<div style="display: grid;grid-template-columns: repeat(3,1fr);grid-template-rows: 20px;grid-gap: 30px;margin-top: 5px;">
							<div><span style="color: #9D9D9D">合计:</span> 999套</div>
							<div><span style="color: #9D9D9D">已签订:</span> 666套</div>
							<div><span style="color: #9D9D9D">签订中:</span> 333套</div>
						</div>
					</div>
					<div style="width: 100%;margin-top: 15px;">
						<p style="font-size: 16px;color: #C6A556">未售:</p>
						<div style="display: grid;grid-template-columns: repeat(3,1fr);grid-template-rows: 20px;grid-gap: 30px;margin-top: 5px;">
							<div><span style="color: #9D9D9D">合计:</span> 999套</div>
							<div><span style="color: #9D9D9D">查封:</span> 666套</div>
							<div><span style="color: #9D9D9D">抵押:</span> 333套</div>
						</div>
					</div>
					<div style="width: 100%;margin-top: 15px;">
						<p><span style="font-size: 16px;color: #C6A556">自留/非卖:</span>999套</p>
					</div>
					<div style="width: 100%;margin-top: 15px;">
						<p><span style="font-size: 16px;color: #C6A556">关闭:</span>999套</p>
					</div>
				</div>
			</div>
			<div style="border: 1px #00BFD1 solid;flex: 1;">
				<div style="height: 10%;background-color: #00BFD1;color: white;padding: 10px 10px 0px 10px;">
					<span style="font-size: 18px;font-weight: bold;">商业汇总</span>
					<span style="font-size: 16px;float: right;">总套数:9999套</span>
				</div>
				<div style="height: 57%;margin: 15px 15px 0px 15px;">
					<div style="width: 100%">
						<p style="font-size: 16px;color: #519795">已售:</p>
						<div style="display: grid;grid-template-columns: repeat(3,1fr);grid-template-rows: 20px;grid-gap: 30px;margin-top: 5px;">
							<div><span style="color: #9D9D9D">合计:</span> 999套</div>
							<div><span style="color: #9D9D9D">已签订:</span> 666套</div>
							<div><span style="color: #9D9D9D">签订中:</span> 333套</div>
						</div>
					</div>
					<div style="width: 100%;margin-top: 15px;">
						<p style="font-size: 16px;color: #519795">未售:</p>
						<div style="display: grid;grid-template-columns: repeat(3,1fr);grid-template-rows: 20px;grid-gap: 30px;margin-top: 5px;">
							<div><span style="color: #9D9D9D">合计:</span> 999套</div>
							<div><span style="color: #9D9D9D">查封:</span> 666套</div>
							<div><span style="color: #9D9D9D">抵押:</span> 333套</div>
						</div>
					</div>
					<div style="width: 100%;margin-top: 15px;">
						<p><span style="font-size: 16px;color: #519795">自留/非卖:</span>999套</p>
					</div>
					<div style="width: 100%;margin-top: 15px;">
						<p><span style="font-size: 16px;color: #519795">关闭:</span>999套</p>
					</div>
				</div>
				<div style="height: 30%;border-top: 1px solid #EBEBEB;margin: 0px 15px 0px 15px;">
					<div style="width: 100%;margin-top: 15px;">
						<p>
							<span style="font-size: 16px;color: #6B91A6">七室两厅:</span>
							<span style="position:relative;left: 10px;"><span style="color: #9D9D9D">共:</span>6户</span>
							<span style="position:absolute;left: 25%;"><span style="color: #9D9D9D">已售出:</span>0户</span>
						</p>
					</div>
					<div style="width: 100%;margin-top: 15px;">
						<p>
							<span style="font-size: 16px;color: #6B91A6">三室一厅:</span>
							<span style="position:relative;left: 10px;"><span style="color: #9D9D9D">共:</span>212户</span>
							<span style="position:absolute;left: 25%;"><span style="color: #9D9D9D">已售出:</span>208户</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="legends">
			<div th:each="legend:${region.bldView?.legends}" class="legend"><i class="iconfont icon-home-fill" th:style="'color: #' + ${legend.color}"></i><span th:text="${legend.name}"></span></div>
		</div>
	</div>
	<div id="building-loader"></div>
</div>
<div th:replace="fragments/common :: layout-footer"></div>
<script th:src="@{/layui/echarts/echarts.js}"></script>
<script th:src="@{/layui/echarts/macarons.js}"></script>
<script th:replace="fragments/common :: layout-toolbar-script"></script>
<script th:replace="fragments/common :: region-query-script"></script>
<script th:replace="fragments/common :: region-carousel-script"></script>
<script th:replace="fragments/sales :: script"></script>
</body>
</html>