<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>赤峰市房产信息网</title>
	<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
	<link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/layui/autocomplete/autocomplete.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/js/respond.min.js}"></script>
	<style>
		body {
			background-color: #F2F2F2;
			overflow: hidden;
		}

		.playWnd {
			margin: 20px;
		}

		.header {
			height: 80px;
			background-color: #ffffff;
		}
		
		.header .logo {
			height: 100%;
			padding: 20px;
		}

		.header .video-loading {
			text-align: center;
			margin-top: 5px;
		}

		 #video-loading {
			z-index: 2000;
		    display: none;
		}

		.header .container {
			height: 100%;
		}

		.header .btn-group {
			text-align: right;
			padding: 20px 40px;
		}

		.header .btn-group .refresh-btn{
			width: 45%;
		}

		.header .btn-group .return-btn{
			width: 45%;
		}

		.header .region-search {
			display: inline-block;
			position: relative;
			padding-top: 25px;
			text-align: right;
		}

		.header .region-search #region-search-input {
			width: 100%;
			padding: 8px 20px;
			border-radius: 20px;
			box-shadow: none;
			background: #fff;
			border: 1px solid #1E9EFF;
			outline: none;
			font-size: 16px;
		}

		.header .region-search .layui-icon-search {
			position: relative;
			top: -30px;
			right: -15px;
			font-size: 23px;
			color: #1E9FFF;
		}

		.layui-form-autocomplete {
			text-align: left;
		}

		.content {
			margin: 20px;
		}
		
		.content .container {
			margin: 0 16px 16px;
		}
		
		.content >div {
			border-radius: 8px;
			background-color: #ffffff;
			height: 100%;
			/*border: 1px red solid;*/
		}

		.content #content-right {
			overflow: auto;
		}

		.content .video-preview {
			margin: 0;
		}

		.region-list {
			height: 200px;
			margin: 10px;
			cursor: pointer;
		}

		.region-list:hover {
			background-color: #fafafa;
		}

		.region-list .region-img {
			display: flex;
			height: 100%;
			align-items: center;
		}

		.region-list .region-img img {
			height: 100%;
			width: 100%;
			max-width: 260px;
		}

		.region-list .region-info p {
			font-size: 24px;
			font-weight: bold;
			color: #008000;
			padding: 40px 0;
		}

		.region-list:hover .region-info .summary-btn {
			background-color: #1e9fff;
			border: 1px solid #1e9fff;
			color: #ffffff;
		}

		.curr-button {
			background-color: #1e9fff;
			border: 1px solid #1e9fff;
			color: #ffffff;
		}

		a:link {
			color: #1E9FFF;
			text-decoration: underline;
			!important;
		}
	</style>
</head>
<body>
<div th:replace="common :: ready"></div>
<script th:inline="javascript">
	function initLayout() {
	    //获取高度兼容IE8 window.innerHeight
        var height=window.innerHeight||Math.max(document.documentElement.clientHeight, document.body.clientHeight);
		document.getElementById('content').style.height = (height - 100) + 'px';
		// document.getElementById('content-left').style.height = (height - 116) + 'px';
		// document.getElementById('content-right').style.height = (height - 116) + 'px';
	}

	document.ready(function () {
		initLayout();
	});
</script>
<div class="header layui-row layui-col-space10">
	<div class="logo layui-col-md4">
		<img th:src="@{/themes/images/console-logo.png}">
	</div>
	<div th:fragment="loading" class="layui-col-md4 video-loading">
		<img th:src="@{/themes/images/loading.gif}" style="width: 200px;" id="video-loading">
	</div>
	<div class="container layui-col-md2 region-search">
		<input id="region-search-input" name="region-search-input" placeholder="请输入小区名称或小区地址进行检索" />
		<i class="layui-icon layui-icon-search"></i>
	</div>
	<div class="container layui-col-md2 btn-group">
		<button type="button" class="layui-btn layui-btn-lg layui-btn-warm refresh-btn">&nbsp;刷新&nbsp;</button>
		<button type="button" class="layui-btn layui-btn-lg layui-btn-normal return-btn">&nbsp;返回&nbsp;</button>
	</div>
</div>
<div id="content" class="content layui-row layui-col-space20">
	<div class="layui-col-md8 container video-preview">
		<div id="playWnd" class="playWnd" style=""></div>
	</div>
	<div id="content-right" class="layui-col-md4">
		<div class="region-list layui-row layui-col-space12" th:each="region:${data}" th:region-id="${region.regionId}" th:has-video="${region.hasVideo}">
			<div class="layui-col-md6 region-img">
				<img th:src="${region.logoPath}">
			</div>
			<div class="region-info layui-col-md6">
				<p th:text="${region.regionName}"></p>
				<button type="button" class="layui-btn layui-btn-primary summary-btn" th:if="${region.hasVideo==1}">视频预览</button>
				<button type="button" class="layui-btn layui-btn-primary layui-btn-disabled" th:if="${region.hasVideo==0}">未开通</button>
			</div>
		</div>
	</div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jsencrypt.min.js}"></script>
<script th:src="@{/js/jsWebControl-1.0.0.min.js}"></script>
<script th:fragment="region-query-script" th:inline="javascript">
    var ctxPath = /*[[@{/}]]*/'';

    layui.config({
        base: ctxPath + 'layui/autocomplete/'
    }).extend({ //设定模块别名
        autocomplete: 'autocomplete'
    });
    layui.use(['layer', 'autocomplete'], function () {
        var $ = layui.jquery;
        var autocomplete = layui.autocomplete;

        var token = [[${token}]];
        var list = [[${data}]];

        //当前预览中的小区Id
        var regionIdNow;
        //当前预览中的按钮元素
        var currBtn;
        var isLoading = false;

        //搜索下拉菜单选中
        autocomplete.render({
            elem: document.getElementById('region-search-input'),
            url: ctxPath + 'auto-regions',
            template_val: '{{d.regionName}}',
            template_txt: '{{d.regionName}} <span class=\'layui-badge layui-bg-gray\'>{{d.address}}</span>',
            onselect: function (res) {
				//取消之前选中小区的预览中状态
                $(".region-list").each(function () {
                    if ($(this).attr("region-id") == regionIdNow) {
                        $(this).find('.summary-btn')[0].innerText='视频预览';
                        $(this).find('.summary-btn').removeClass('curr-button');
                        return false;
                    }
                })
				//设置当前选中小区的预览中状态
                regionIdNow = res.regionId;
                $(".region-list").each(function () {
                    if ($(this).attr("region-id") == regionIdNow) {
                        currBtn = $(this).find('.summary-btn');
                        $(this).find('.summary-btn')[0].innerText='预览中';
                        $(this).find('.summary-btn').addClass('curr-button');
                        return false;
                    }
                })
				//预览视频
                if (oWebControl != null){
                    oWebControl.JS_Disconnect().then(function(){
                        $.get(ctxPath + "videoNos/" + regionIdNow, {}, function (data) {
                            initPlugin(data)
                        });
                    }, function() {});
                }
            }
        });

        //初始选出当前正在预览的小区
        for (var i=0;i<list.length;i++) {
            if (list[i].hasVideo == 1) {
                regionIdNow = list[i].regionId;
                break;
            }
        }

        function initLayout() {
            //获取高度兼容IE8 window.innerHeight
            var height=window.innerHeight||Math.max(document.documentElement.clientHeight, document.body.clientHeight);
            var width=window.innerWidth||Math.max(document.documentElement.clientWidth, document.body.clientWidth);
            document.getElementById('playWnd').style.height = Math.round(height * 0.85) + 'px';
            document.getElementById('playWnd').style.width = Math.round(width * 0.60) + 'px';
        }
        //初始预览当前小区视频
        $(document).ready(function () {
            initLayout();
            //设置当前小区的选中状态
            $(".region-list").each(function () {
                if ($(this).attr("region-id") == regionIdNow) {
                    currBtn = $(this).find('.summary-btn');
                    $(this).find('.summary-btn')[0].innerText='预览中';
                    // $(this).find('.summary-btn').css({'background-color': '#1e9fff','border': '1px solid #1e9fff','color': '#ffffff'});
                    $(this).find('.summary-btn').addClass('curr-button');
                    return false;
                }
            })
            //查询当前小区的监控点编号初始化视频插件并预览视频
			if (regionIdNow) {
                $.get(ctxPath + "videoNos/" + regionIdNow, {}, function (data) {
                    initPlugin(data)
                });
			}
        });
        //跳转到大屏展示页面
        $('.return-btn').on('click', function () {
            if(regionIdNow && oWebControl) {
                stopPreview().then(function () {
                    window.location.href = ctxPath + 'console/' + token;
                });
			} else {
                window.location.href = ctxPath + 'console/' + token;
			}
        });
        //刷新页面
        $('.refresh-btn').on('click', function () {
            window.location.reload();
        });

        //切换小区监控
        $('.region-list').on('click', function () {
            //操作还有监控点编号的小区按钮
            if (!isLoading && $(this).attr("has-video") == 1) {
                //取消预览中的小区按钮状态
                regionIdNow = $(this).attr("region-id");
                currBtn[0].innerText='视频预览';
                currBtn.removeClass('curr-button');

                //设置当前选中的小区按钮状态
                currBtn = $(this).find('.summary-btn');
                $(this).find('.summary-btn')[0].innerText='预览中';
                $(this).find('.summary-btn').addClass('curr-button');

                //停止预览
                if (oWebControl != null){
                    oWebControl.JS_Disconnect().then(function(){
                        $.get(ctxPath + "videoNos/" + regionIdNow, {}, function (data) {
                            initPlugin(data);
                        });
                    }, function() {});
                }
            }
        });

        var oWebControl = null;// 插件对象
        var bIE = (!!window.ActiveXObject || 'ActiveXObject' in window);// 是否为IE浏览器
        var pubKey = '';

        var iLastCoverLeft = 0;
        var iLastCoverTop = 0;
        var iLastCoverRight = 0;
        var iLastCoverBottom = 0;
        var initCount = 0;
        // 初始化插件
        function initPlugin (data) {
            oWebControl = new WebControl({
                szPluginContainer: "playWnd",
                iServicePortStart: 15900,
                iServicePortEnd: 15909,
                cbConnectSuccess: function () {
                    console.log("对象"+oWebControl)
                    setCallbacks();

                    //启动服务
                    oWebControl.JS_StartService("window", {
                        dllPath: "./VideoPluginConnect.dll"
                        //dllPath: "./DllForTest-Win32.dll"
                    }).then(function () {
                        var height=window.innerHeight||Math.max(document.documentElement.clientHeight, document.body.clientHeight);
                        var width=window.innerWidth||Math.max(document.documentElement.clientWidth, document.body.clientWidth);
                        //创建视频播放窗口
                        oWebControl.JS_CreateWnd("playWnd", Math.round(width * 0.60), Math.round(height * 0.85)).then(function () {
                            console.log("JS_CreateWnd success");
                            //初始化
                            oWebControl.JS_RequestInterface({
                                funcName: "getRSAPubKey",
                                argument: JSON.stringify({
                                    keyLength: 1024
                                })
                            }).then(function (oData) {
                                if (oData.responseMsg.data) {
                                    pubKey = oData.responseMsg.data

                                    var appkey = '22960396';//内网24067695
                                    var secret = '5JWTaSovMCxkUjQSC8dI';//内网ItmUAPnCPPWqlQRTykYk
                                    var ip = '222.74.69.146'; //平台IP地址
                                    var szPort = '1443'; //平台端口
                                    var snapDir = 'D:\\SnapDir'; //抓图存储路径
                                    var videoDir = 'D:\\VideoDir'; //录像存储路径
                                    var layout = '2x2'; //初始化布局
                                    var encryptedFields = ['secret'];

                                    appkey = appkey.replace(/(^\s*)/g, "");
                                    appkey = appkey.replace(/(\s*$)/g, "");

                                    secret = secret.replace(/(^\s*)/g, "");
                                    secret = secret.replace(/(\s*$)/g, "");

                                    ip = ip.replace(/(^\s*)/g, "");
                                    ip = ip.replace(/(\s*$)/g, "");

                                    szPort = szPort.replace(/(^\s*)/g, "");
                                    szPort = szPort.replace(/(\s*$)/g, "");

                                    snapDir = snapDir.replace(/(^\s*)/g, "");
                                    snapDir = snapDir.replace(/(\s*$)/g, "");

                                    videoDir = videoDir.replace(/(^\s*)/g, "");
                                    videoDir = videoDir.replace(/(\s*$)/g, "");

                                    var port = parseInt(szPort);
                                    //启用HTTPS协议，1：启用，0：不启用
                                    var enableHttps = parseInt('1');

                                    // appkey = setEncrypt(appkey);
                                    // ip = setEncrypt(ip);

                                    //根据监控点数量设置布局
                                    if (data.length == 1) {
                                        layout = '1x1';
                                    } else if (data.length > 1 && data.length <= 4) {
                                        layout = '2x2';
                                    } else if (data.length > 4 && data.length <= 9) {
                                        layout = '3x3';
                                    } else {
                                        layout = '4x4';
                                    }
                                    oWebControl.JS_RequestInterface({
                                        funcName: "init",
                                        argument: JSON.stringify({
                                            appkey: appkey,
                                            secret: secret,
                                            ip: ip,
                                            playMode: 0, // 预览
                                            port: port,
                                            snapDir: snapDir,
                                            videoDir: videoDir,
                                            layout: layout,
                                            enableHTTPS: enableHttps,
                                            encryptedFields: encryptedFields
                                        })
                                    }).then(function (oData) {
                                        console.log("初始化布局完成"+JSON.stringify(oData ? oData.responseMsg : ''));
                                        loading();
                                        for (var i = 0; i<data.length; i++) {
                                            //视频预览
                                            syncPreview(data, 0);
                                        }
                                    });
                                }
                            })

                        })
                    }, function () {

                    });
                },
                cbConnectError: function () {
                    // console.log("cbConnectError");
                    oWebControl = null;
                    $("#playWnd").html("<p style='font-size: 18px'>插件未启动，正在尝试启动，请稍候...</p>");
                    WebControl.JS_WakeUp("VideoWebPlugin://");
                    initCount ++;
                    if (initCount < 3) {
                        setTimeout(function () {
                            initPlugin(data);
                        }, 3000)
                    } else {
                        $("#playWnd").html("<p style='font-size: 18px'>插件启动失败，请<a href='http://fgj.chifeng.gov.cn:180/videoPlugin/video.exe'>下载插件</a>安装！</p>");
                    }
                },
                cbConnectClose: function () {
                    console.log("cbConnectClose");
                    oWebControl = null;
                }
            });
        }

        // 设置窗口控制回调
        function setCallbacks() {
            if (oWebControl) {
                oWebControl.JS_SetWindowControlCallback({
                    cbIntegrationCallBack: cbIntegrationCallBack
                });
			}
        }

        // 推送消息
        function cbIntegrationCallBack(oData) {
            console.log(JSON.stringify(oData.responseMsg));
        }

        // RSA加密
        function setEncrypt (value) {
            var encrypt = new JSEncrypt();
            encrypt.setPublicKey(pubKey);
            return encrypt.encrypt(value);
        }
        // 标签关闭
        $(window).unload(function () {
            // 此处请勿调反初始化
            if (oWebControl != null){
                oWebControl.JS_Disconnect().then(function(){}, function() {});
            }
        });
        // 窗口resize
        $(window).resize(function () {
            if (oWebControl != null) {
                oWebControl.JS_Resize(Math.round($(window).width()*0.60), Math.round($(window).height()*0.85));
                // setWndCover();
            }
        });

        // 滚动条scroll
        $(window).scroll(function () {
            if (oWebControl != null) {
                oWebControl.JS_Resize(Math.round($(window).width()*0.60), Math.round($(window).height()*0.85));
                // setWndCover();
            }
        });
        // 设置窗口遮挡
        function setWndCover() {
            var iWidth = $(window).width();
            var iHeight = $(window).height();
            var oDivRect = $("#playWnd").get(0).getBoundingClientRect();

            var iCoverLeft = (oDivRect.left < 0) ? Math.abs(oDivRect.left): 0;
            var iCoverTop = (oDivRect.top < 0) ? Math.abs(oDivRect.top): 0;
            var iCoverRight = (oDivRect.right - iWidth > 0) ? Math.round(oDivRect.right - iWidth) : 0;
            var iCoverBottom = (oDivRect.bottom - iHeight > 0) ? Math.round(oDivRect.bottom - iHeight) : 0;

            iCoverLeft = (iCoverLeft > Math.round(iWidth*0.6)) ? Math.round(iWidth*0.6) : iCoverLeft;
            iCoverTop = (iCoverTop > Math.round(iHeight * 0.85)) ? Math.round(iHeight * 0.85) : iCoverTop;
            iCoverRight = (iCoverRight > Math.round(iWidth*0.6)) ? Math.round(iWidth*0.6) : iCoverRight;
            iCoverBottom = (iCoverBottom > Math.round(iHeight * 0.85)) ? Math.round(iHeight * 0.85) : iCoverBottom;

            if (iLastCoverLeft != iCoverLeft) {
                console.log("iCoverLeft: " + iCoverLeft);
                iLastCoverLeft = iCoverLeft;
                oWebControl.JS_SetWndCover("left", iCoverLeft);
            }
            if (iLastCoverTop != iCoverTop) {
                console.log("iCoverTop: " + iCoverTop);
                iLastCoverTop = iCoverTop;
                oWebControl.JS_SetWndCover("top", iCoverTop);
            }
            if (iLastCoverRight != iCoverRight) {
                console.log("iCoverRight: " + iCoverRight);
                iLastCoverRight = iCoverRight;
                oWebControl.JS_SetWndCover("right", iCoverRight);
            }
            if (iLastCoverBottom != iCoverBottom) {
                console.log("iCoverBottom: " + iCoverBottom);
                iLastCoverBottom = iCoverBottom;
                oWebControl.JS_SetWndCover("bottom", iCoverBottom);
            }
        }
        //视频预览
        function startPreview(code, index) {
            //监控点编号
            var cameraIndexCode  = code;
            //主子码流标识，0：主码流，1：子码流
            var streamMode = '0';
            //传输协议，1：TCP,0:UDP
            var transMode = '1';
            //是否启用GPU硬解：0：不启用，1：启用
            var gpuMode = '0';
            // var wndId = -1;  //默认为空闲窗口回放
            var wndId = parseInt(index+1, 10);

            cameraIndexCode = cameraIndexCode.replace(/(^\s*)/g, "");
            cameraIndexCode = cameraIndexCode.replace(/(\s*$)/g, "");

            if (!cameraIndexCode ) {
                console.log("监控点编号不能为空！");
                return
            }

            return oWebControl.JS_RequestInterface({
                funcName: "startPreview",
                argument: JSON.stringify({
                    cameraIndexCode : cameraIndexCode ,
                    streamMode: streamMode,
                    transMode: transMode,
                    gpuMode: gpuMode,
                    wndId: wndId
                })
            }).then(function (oData) {
                console.log("视频预览"+JSON.stringify(oData ? oData.responseMsg : ''));
            });
        }
        //停止预览
        function stopPreview() {
            return oWebControl.JS_RequestInterface({
                funcName: "stopAllPreview"
            }).then(function (oData) {
                console.log(JSON.stringify(oData ? oData.responseMsg : ''));
            });
        }
        //设置布局
        function setLayout(layout) {
            oWebControl.JS_RequestInterface({
                funcName: "setLayout",
                argument: JSON.stringify({
                    layout : layout
                })
            })
        }
        //递归视频预览
        function syncPreview(data, count) {
            startPreview(data[count], count).then(function () {
                count++;
                if (data.length > count) {
                    setTimeout(function () {
                        syncPreview(data, count);
                    }, 2000)
                } else {
                    setTimeout(function () {
                        loading('hide');
                    }, 2000)
                }
            });
        }
        //加载中
        function loading(hide) {
            if (!hide) {
                isLoading = true;
                $("#video-loading").show();
            } else {
                isLoading = false;
                $("#video-loading").hide();
            }
        }
    });
</script>
</body>